.summary-container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-card {
  width: 400px;
  height: 500px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  text-align: center;
  font-family: 'IBM Plex Sans KR', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

.center {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-top: 30px;
}

.center h2 {
  margin: 0;
  font-size: 1.2rem;
}

.center p {
  margin: 0;
  font-size: 0.95rem;
}

.character-box {
  margin-top: 10px;
  width: 110px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.character-img {
  width: 130px;
  height: auto;
  margin-top: -35px;
  margin-bottom: 10px;
}


.button-group {
  flex: 0 0 auto;
  width: 100%;
  margin-top: -20px;
}

.btn-long {
  background-color: rgba(72, 139, 255, 0.8);
  color: #000;
  border: none;
  border-radius: 10px;
  width: 100%;
  min-height: 65px;
  padding: 10px 14px;
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
  transition: 0.3s;
  box-sizing: border-box;
}

.btn-long:hover {
  background-color: #3b82f6;
  color: white;
  box-shadow: 0 0 0 4px #3b83f65f;
}

.btn-long li {
  font-size: 0.75rem;
  font-weight: normal;
  margin-left: 1rem;
  list-style: disc;
  color: inherit;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  margin-top: 8px;
}

.btn {
  background-color: rgba(72, 139, 255, 0.8);
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  height: 45px;
  font-size: 0.85rem;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.btn:hover {
  background-color: #3b82f6;
  color: #fff;
  box-shadow: 0 0 0 4px #3b83f65f;
}

.team-logo-small {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  vertical-align: middle;
}

